//colors
$nav-aside-color: #FC755B;
$logo-color: #FFFFFF;
$icons-color_nav:white;
$main-colortext:#FD6282;
$color-statistic_text:#D0D0D0;
$color-name:#797979;
$color-background_main:white;
//text-style
$textsize-header:12px;
$font-familyheader:'Lato', sans-serif;

